# This is a sample .env file for use in local development.
# Duplicate this file as .env here


# The RPC URL of your Orbit chain, we use the Xai mainnet as an example here
ORBIT_RPC_URL='https://xai-chain.net/rpc'

#  Hosted Aggregator Node (JSON-RPC Endpoint). This can be any Arbitrum chain
PARENT_RPC_URL='https://arb1.arbitrum.io/rpc'

#  The starting block number from which the tool will begin searching for retryable tickets 
#  Set this value to the desired block number where you want to start the search
FROM_BLOCK=""

#  This variable represents the ending block number at which the tool will stop searching for retryable tickets 
#  Set this value to the desired block number where you want to conclude the search
TO_BLOCK=""

# Arbiscan link
ARBISCAN="https://arbiscan.io/tx/"